@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #5e0101;
    display: flex;
}

.inicio__link,
.cardapio__link,
.localizacao__link,
.sobre__link,
.contato__link{
    text-decoration: none;
    color: white;
}

.inicio__link:hover,
.cardapio__link:hover,
.localizacao__link:hover,
.sobre__link:hover,
.contato__link:hover{
    color: rgb(148, 148, 148);
}

.cabecalho__itens{
    gap: 40px;
    display: flex;
    padding: 5% 0 4% 10%;
    font-family: 'Cinzel', sans-serif;
    font-size: 25px;
}

.logo img{
    height: 120px;
    width: auto;
    padding: 10% 0 0 15%;
}

.inicio{
    background-image: url(assets/pizza.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6%;
}

.inicio__titulo{
    font-family: 'Cinzel', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.inicio__frase{
    padding: 2%;
    font-family: 'Cinzel', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    text-align: center;
    color: white;
}

.cardapio{
    text-align: center;
    padding: 3%;
    font-family: 'Cinzel', sans-serif;
    padding-bottom: 10%;
}

.cardapio__precos{
    font-size: 18px;
    padding-top: 3%;
}

.cardapio__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
    padding: 4% 15%;
    text-align: center;
}

.cardapio__item{
    background-color: #faf9f9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.342);
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.ingredientes{
    font-weight: 600;
}

.localizacao{
    font-family: 'Cinzel', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.endereco{
    font-weight: 600;
    font-size: 20px;
    padding: 3% 2% 4% 2%;
}

.mapa img{
    height: 300px;
    width: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.342);
}

.mapa__botao{
    padding: 2% 35%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-family: 'Cinzel', sans-serif;
    font-weight: 600;
    gap: 10px;
}

.mapa__botao__maps{
    padding: 2% 8% 2% 5%;
    text-decoration: none;
    color: black;
    border-radius: 12px;
    background-color: #faf9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.342);
}

.mapa__botao__waze{
    padding: 2% 8% 2% 5%;
    text-decoration: none;
    color: black;
    border-radius: 12px;
    background-color: #faf9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.342);
}

.sobre{
    text-align: center;
    font-family: 'Cinzel', sans-serif;
    background-image: url(assets/Positano.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6%;
}

.sobre__titulo{
    font-family: 'Cinzel', sans-serif;
    font-size: 45px;
    display: flex;
    padding-bottom: 2%;
    flex-direction: column;
    text-align: center;
    color: white;
}

.sobre__texto{
    padding-top: 1.5%;
    font-family: 'Cinzel', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    text-align: center;
    color: white;
}

.contato__titulo{
    font-family: 'Cinzel', sans-serif;
    text-align: center;
    padding: 4%;
}

.contato{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.contato__texto a {
    display: flex;
    align-items: center;
}

.contato__texto{
    font-family: 'Cinzel', sans-serif;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 8% 8% 0 0;
    gap: 6%;
}

.contato__whats,
.contato__email,
.contato__instagram{
    text-decoration: none;
    color: black;
}

.contato__imagem img{
    height: 400px;
    width: auto;
    margin: 3% 0 8% 10%;
    background-color: #5e0101;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgb(0, 0, 0);
}

.rodape{
    background-color: #5e0101;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 1%;
}